In [1]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [2]:
df_ascfalse = df.sort_values('Name',ascending=True)
df_ascfalse.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False

In [3]:
df_type1Asc_f = df.sort_values('HP',ascending=False)
df_type1Asc_f.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

In [4]:
df_type1_hp = df.sort_values(['Type 1','HP'], ascending = [1,0])
print (df_type1_hp.head(5))

       #                     Name Type 1    Type 2  HP  Attack  Defense  \
520  469                  Yanmega    Bug    Flying  86      76       86
698  637                Volcarona    Bug      Fire  85      60       65
231  214                Heracross    Bug  Fighting  80     125       75
232  214  HeracrossMega Heracross    Bug  Fighting  80     185      115
678  617                 Accelgor    Bug       NaN  80      70       40

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
520      116       56     95           4      False
698      135      105    100           5      False
231       40       95     85           2      False
232       40      105     75           2      False
678      100       60    145           5      False

In [5]:
df_atck_def_spd = df.sort_values(['Attack','Defense','Speed'], ascending = [1,1,0])
print (df_atck_def_spd.head(5))

       #      Name  Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  \
121  113   Chansey  Normal    NaN  250       5        5       35      105
488  440   Happiny  Normal    NaN  100       5        5       15       65
261  242   Blissey  Normal    NaN  255      10       10       75      135
139  129  Magikarp   Water    NaN   20      10       55       15       20
230  213   Shuckle     Bug   Rock   20      10      230       10      230

     Speed  Generation  Legendary
121     50           1      False
488     30           4      False
261     55           2      False
139     80           1      False
230      5           2      False

In [6]:
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df['Total1'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
print("Highest HP",max(df['HP']))
print(df.head(5))
print(df.head(5))

Highest HP 255
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary  Total  Total1
0       65     45           1      False    318     318
1       80     60           1      False    405     405
2      100     80           1      False    525     525
3      120     80           1      False    625     625
4       50     65           1      False    309     309
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary  Total  Total1
0       65     45           1      False    318     318
1       80     60           1      False    405     405
2      100     80           1      False    525     525
3      120     80           1      False    625     625
4       50     65           1      False    309     309

In [7]:
 df.sort_values('Total',ascending=True)

df['Percentage'] = (df['Total'] / max(df['Total']))* 100
df_percentageasc = df.sort_values('Percentage',ascending = True)
print(df_percentageasc)

       #                   Name   Type 1    Type 2   HP  Attack  Defense  \
206  191                Sunkern    Grass       NaN   30      30       30
322  298                Azurill   Normal     Fairy   50      20       40
446  401              Kricketot      Bug       NaN   37      25       41
288  265                Wurmple      Bug       NaN   45      45       35
16    13                 Weedle      Bug    Poison   40      35       30
..   ...                    ...      ...       ...  ...     ...      ...
424  383  GroudonPrimal Groudon   Ground      Fire  100     180      160
422  382    KyogrePrimal Kyogre    Water       NaN  100     150       90
164  150    MewtwoMega Mewtwo Y  Psychic       NaN  106     150       70
426  384  RayquazaMega Rayquaza   Dragon    Flying  105     180      100
163  150    MewtwoMega Mewtwo X  Psychic  Fighting  106     190      100

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total  Total1  Percentage
206       30       30     30           2      False    180     180   23.076923
322       20       40     20           3      False    190     190   24.358974
446       25       41     25           4      False    194     194   24.871795
288       20       30     20           3      False    195     195   25.000000
16        20       20     50           1      False    195     195   25.000000
..       ...      ...    ...         ...        ...    ...     ...         ...
424      150       90     90           3       True    770     770   98.717949
422      180      160     90           3       True    770     770   98.717949
164      194      120    140           1       True    780     780  100.000000
426      180      100    115           3       True    780     780  100.000000
163      154      100    130           1       True    780     780  100.000000

[800 rows x 15 columns]

In [8]:
df['Total'] = df.iloc[0:5,4:10].sum(axis=1)
print (df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total  Total1  Percentage
0         65       65     45           1      False  318.0     318   40.769231
1         80       80     60           1      False  405.0     405   51.923077
2        100      100     80           1      False  525.0     525   67.307692
3        122      120     80           1      False  625.0     625   80.128205
4         60       50     65           1      False  309.0     309   39.615385
..       ...      ...    ...         ...        ...    ...     ...         ...
795      100      150     50           6       True    NaN     600   76.923077
796      160      110    110           6       True    NaN     700   89.743590
797      150      130     70           6       True    NaN     600   76.923077
798      170      130     80           6       True    NaN     680   87.179487
799      130       90     70           6       True    NaN     600   76.923077

[800 rows x 15 columns]

In [9]:
df = df.drop(columns=['Total1'])
print (df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  Total  Percentage
0         65       65     45           1      False  318.0   40.769231
1         80       80     60           1      False  405.0   51.923077
2        100      100     80           1      False  525.0   67.307692
3        122      120     80           1      False  625.0   80.128205
4         60       50     65           1      False  309.0   39.615385
..       ...      ...    ...         ...        ...    ...         ...
795      100      150     50           6       True    NaN   76.923077
796      160      110    110           6       True    NaN   89.743590
797      150      130     70           6       True    NaN   76.923077
798      170      130     80           6       True    NaN   87.179487
799      130       90     70           6       True    NaN   76.923077

[800 rows x 14 columns]

In [10]:
df_arg01 = df
df_arg01 = df_arg01[['Name', 'Type 1','Type 2', 'Total','HP','Attack','Defense','Sp. Atk', 'Sp. Def', 'Speed', 'Generation','Legendary']]
df_arg01.head(5)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405.0,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525.0,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625.0,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309.0,39,52,43,60,50,65,1,False

In [11]:
df_arg02 = df 
cols = list(df_arg02.columns.values)
df_arg02 = df_arg02[cols[0:4] +[cols[11]] + cols[4:11]]
df_arg02.head(5)

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1

In [12]:
df_arg03 = df
change_col = df_arg03.pop('Total')
df_arg03.insert(4,'Total',change_col)
df_arg03.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Percentage
0,1,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65,45,1,False,40.769231
1,2,Ivysaur,Grass,Poison,405.0,60,62,63,80,80,60,1,False,51.923077
2,3,Venusaur,Grass,Poison,525.0,80,82,83,100,100,80,1,False,67.307692
3,3,VenusaurMega Venusaur,Grass,Poison,625.0,80,100,123,122,120,80,1,False,80.128205
4,4,Charmander,Fire,NaN,309.0,39,52,43,60,50,65,1,False,39.615385

In [13]:
df.to_csv('newpokemon101.csv', index = False)